* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: inline;
}
.jumbotron {
    font-size: 20px;
   padding: 70px;
   text-align: center;
   color: white;
   background-image: url('../img/apple-header.jpg'); 
   background-attachment: fixed;
   background-size: cover;
   background-position:0px;
   overflow: hidden;
}
.header-jumbotron {
    font-family: 'Josefin Sans', sans-serif;
}
.subheader-jumbotron {
    font-family: 'PT Serif', serif;
}
nav {
    display: block !important;
    background-color: #000000;
    padding: 9px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-dropdown {
    display: none !important;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover {
    font-weight: bold;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}
main {
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: row;
}
#content {
    width: 75%;
    padding: 0 50px;
}
aside {
    width: 25%;
}
.card {
    box-shadow: 3px 8px 15px 1px rgba(0, 0, 0, 0.2);
    flex-basis: 30%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.image-article {
    flex-basis: 30%;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}
.product header {
    text-align: center;
}
.product img {
    width: 200px;
}
.article-header {
    margin-left: 15px;
    text-align: left;
}
.text-source {
    margin-left: 15px;
    text-align: left;
    color: grey;
}
.text-article {
    text-align: left;
}
.continue-reading {
    text-align: left;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.price-before {
    color: red;
    text-decoration-line: line-through;
}
.price-after {
    margin-top: -18px;
}
.button-buy {
    border: none;
    color: white;
    background-color: black;
    padding: 10px;
    width: 250px;
	font: inherit;
	cursor: pointer;
    transition: 0.5s;
}
.button-buy:hover {
    background-color: #323232;
    transform: translateY(-3px);
}
.button-add {
    margin-top: 10px;
    border: none;
    color: white;
    background-color: grey;
    padding: 10px;
    width: 250px;
	font: inherit;
	cursor: pointer;
    transition: 0.5s;
}
.button-add:hover {
    background-color: #686868;
    transform: translateY(2px);
}
.product-display {
    transition: 0.5s;
}
.product-display:hover {
    transform: scale(1.1);
}


.navbar-dropdown {
    overflow: hidden;
    padding: 9px;
    background-color: black;
    font-family: inherit;
    display: flex;
  }
  .navbar-dropdown a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    margin-left: 10px;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar-dropdown a:hover, .dropdown:hover .dropbtn {
    background-color: #6790A7;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }


footer {
    margin-top: 30px;
    padding: 20px;
    color: white;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
}


@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        padding: 20px;
    }
    #content, aside {
        width: 100%;
        padding: 0;
    }
    img {
        flex-basis: 30%;
        width: 200px;
        padding: 10px;
    }
    nav {
        display: none !important;
    }
    .navbar-dropdown {
        display: block !important;
    }
}